<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <controlSources>
      <source mode="on" namespace="Sitecore.Modules.MediaConversionTool.Controls" assembly="Sitecore.Modules.MediaConversionTool" prefix="MCT" />
      <source mode="on" namespace="Sitecore.Modules.MediaConversionTool" folder="/sitecore modules/shell//media conversion tool" deep="true" />
    </controlSources>
    <commands>
      <command name="mct:openmediaconversiontool" type="Sitecore.Modules.MediaConversionTool.Commands.OpenMediaConversionTool,Sitecore.Modules.MediaConversionTool" />
      <command name="mct:cleanupblobs" type="Sitecore.Modules.MediaConversionTool.Commands.CleanBlobs,Sitecore.Modules.MediaConversionTool"/>
    </commands>
    <settings>
      <!--  MEDIA CONVERSION TOOL - ALLOW REMOVAL OF CONVERTED FILES
                  If true, all sources of converted files will be removed upon operation completion.
            -->
      <setting name="MediaStorageManager.DeleteConvertedFiles" value="true" />
      <!--  MEDIA CONVERSION TOOL - ALLOW REMOVAL OF BLOB CONTENT AFTER CONVERTING MEDIA DATA TO FILE SYSTEM.
                  If true, BLOB data will be removed from the database for each converted media item.
            NOTE: BLOB removal is SQL intense operation. It may impact SQL Server performance.
            -->
      <setting name="MediaStorageManager.DeleteBlobDBContent" value="false" />
      <!--  MEDIA CONVERSION TOOL - ENABLE DETAILED LOGGING
                  If true, every converted/failed item gets registered in the log file.
            -->
      <setting name="MediaStorageManager.EnableDetailedLogging" value="true" />
    </settings>
  </sitecore>
</configuration>