<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <controlSources>
      <source mode="on" namespace="Sitecore.Modules.MediaConversionTool.Controls" assembly="Sitecore.Modules.MediaConversionTool" prefix="MCT" />
      <source mode="on" namespace="Sitecore.Modules.MediaConversionTool" folder="/sitecore modules/shell//media conversion tool" deep="true" />
    </controlSources>
    <commands>
      <command name="mct:openmediaconversiontool" type="Sitecore.Modules.MediaConversionTool.Commands.OpenMediaConversionTool,Sitecore.Modules.MediaConversionTool" />
      <command name="mct:cleanupblobs" type="Sitecore.Modules.MediaConversionTool.Commands.CleanBlobs,Sitecore.Modules.MediaConversionTool"/>
    </commands>
    <pipelines>
      <convertMedia help="Processors should derive from Sitecore.Modules.MediaConversionTool.Pipelines.ConvertMedia.ConvertMediaProcessor">
        <processor type="Sitecore.Modules.MediaConversionTool.Pipelines.ConvertMedia.AddMediaItemsToQueue, Sitecore.Modules.MediaConversionTool" />
        <processor type="Sitecore.Modules.MediaConversionTool.Pipelines.ConvertMedia.ProcessQueue, Sitecore.Modules.MediaConversionTool" />
        <processor type="Sitecore.Modules.MediaConversionTool.Pipelines.ConvertMedia.LogFailures, Sitecore.Modules.MediaConversionTool">
          <detailedLogging>false</detailedLogging>
        </processor>
      </convertMedia>
      <convertMediaItem help="Processors should derive from Sitecore.Modules.MediaConversionTool.Pipelines.ConvertMediaItem.ConvertMediaItemProcessor">
        <processor type="Sitecore.Modules.MediaConversionTool.Pipelines.ConvertMediaItem.CheckCloneItem, Sitecore.Modules.MediaConversionTool" />
        <processor type="Sitecore.Modules.MediaConversionTool.Pipelines.ConvertMediaItem.CheckSecurity, Sitecore.Modules.MediaConversionTool" />
        <processor type="Sitecore.Modules.MediaConversionTool.Pipelines.ConvertMediaItem.EvaluateMediaHandling, Sitecore.Modules.MediaConversionTool" />
        <processor type="Sitecore.Modules.MediaConversionTool.Pipelines.ConvertMediaItem.ConvertMedia, Sitecore.Modules.MediaConversionTool" />
        <processor type="Sitecore.Modules.MediaConversionTool.Pipelines.ConvertMediaItem.CleanupMediaContent, Sitecore.Modules.MediaConversionTool" runIfAborted="true" />
        <processor type="Sitecore.Modules.MediaConversionTool.Pipelines.ConvertMediaItem.UpdateStatistics, Sitecore.Modules.MediaConversionTool" runIfAborted="true">
          <traceToLog>false</traceToLog>
        </processor>
      </convertMediaItem>
    </pipelines>
    <settings>
      <!--  MEDIA CONVERSION TOOL - ALLOW REMOVAL OF CONVERTED FILES
                  If true, all sources of converted files will be removed upon operation completion.
            -->
      <setting name="MediaConversion.DeleteConvertedFiles" value="true" />
      <!--  MEDIA CONVERSION TOOL - ALLOW REMOVAL OF BLOB CONTENT AFTER CONVERTING MEDIA DATA TO FILE SYSTEM.
                  If true, BLOB data will be removed from the database for each converted media item.
            NOTE: BLOB removal is SQL intense operation. It may impact SQL Server performance.
            -->
      <setting name="MediaConversion.DeleteConvertedBlobs" value="true" />
      <!--  MEDIA CONVERSION TOOL - ENABLE DETAILED LOGGING
                  If true, every converted/failed item gets registered in the log file.
            -->
      <setting name="MediaConversion.EnableDebugLogging" value="false" />
      <!--  MEDIA CONVERSION TOOL - CONSECUTIVE ERROR LIMIT
                  Controls the limit of consecutive failed attempts. When limit is reached, the conversion offers a user to abort the process.
            -->
      <setting name="MediaConversion.ConsecutiveErrorLimit" value="20" />
    </settings>
  </sitecore>
</configuration>