<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <controlSources>
      <source mode="on" namespace="Sitecore.Modules.MediaConversionTool.Controls" assembly="MediaConversionTool" prefix="MCT" />
      <source mode="on" namespace="Sitecore.Modules.MediaConversionTool" folder="/sitecore modules/shell//media conversion tool" deep="true" />
    </controlSources>
    <commands>
      <command name="mct:openmediaconversiontool" type="Sitecore.Modules.MediaConversionTool.Commands.OpenMediaConversionTool,MediaConversionTool" />
    </commands>
    <settings>
      <!--  MEDIA CONVERSION TOOL - ALLOW REMOVAL OF CONVERTED FILES
	          If true, all sources of converted files will be removed upon operation completion.
	    -->
      <setting name="MediaStorageManager.DeleteConvertedFiles" value="true" />
      <!--  MEDIA CONVERSION TOOL - ENABLE DETAILED LOGGING
	          If true, every converted/failed item gets registered in the log file.
	    -->
      <setting name="MediaStorageManager.EnableDetailedLogging" value="true" />
    </settings>
  </sitecore>
</configuration>